body {
    margin: 0;
    width: 100%;
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* NAVBAR */

nav {
    height: 64px;
    padding: 0 24px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-mobile {
    display: none;
}

.nav__logo {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
}

.nav__logo img {
    height: 100%;
    width: auto;
}

.nav__logo span {
    font-weight: normal;
    color: hsl(0, 0%, 70%);
}

.nav__logo strong {
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.nav__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__navigation ul {
    display: flex;
    flex-direction: row;
}

.nav__navigation ul li {
    padding-left: 1rem;
}

@media all and (max-width: 620px) {
    .nav__logo span {
        display: none;
    }
}

@media all and (max-width: 460px) {
    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    .nav__navigation {
        width: 100%;
        justify-content: space-around;
    }
}

/* HEADER */

header {
    padding: 32px 24px;
    background-color: hsl(0, 0%, 70%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header__image {
    max-width: 60%;
    height: auto;
    margin-right: 24px;
}

.header__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 8rem;
}

.header__heading h1, .header__heading h3 {
    font-family: Roboto, sans-serif;
    color: hsl(0, 0%, 20%);
}

.header__heading h1 {
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

.header__heading h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.header__button {
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: .5rem 0;
    width: 100%;
}

@media all and (max-width: 1000px) {
    .header__heading {
        padding-right: 4rem;
    }
}

@media all and (max-width: 800px) {
    header {
        flex-direction: column;
        padding: 0 0 1.5rem;
    }

    .header__image {
        max-width: 100%;
        margin: 0 0;
    }

    .header__heading {
        padding-right: 0;
        padding-top: 2rem;
    }
}

/* INFO */

.info {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid hsl(0, 0%, 70%);
}

.info__left {
    padding: 2rem 1.5rem;
    width: 60%;
    border-right: 1px solid hsl(0, 0%, 70%);
}

.info__left__image {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.info__left__heading {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.info__left__paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

.info__left__author {
    margin-top: 2rem;
}

.info__right {
    width: 40%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.info__right__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.info__right__item__image {
    width: 35%;
    height: auto;
}

.info__right__item__text {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.info__right__item__text__heading {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 20%);
}

.info__right__item__text__paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.info__right__item__text__link {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: none;
}

@media all and (max-width: 800px) {
    .info__left {
        display: none;
    }

    .info__right {
        padding: 0;
        width: 100%;
    }

    .info__right__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .info__right__item__image {
        width: 100%;
        margin-bottom: 2rem;
    }

    #orientation {
        content: url("../images/information-orientation-mobile.jpg");
    }

    #campus {
        content: url("../images/information-campus-mobile.jpg");
    }

    #lecture {
        content: url("../images/information-guest-lecture-mobile.jpg");
    }
}

/* LEARNING */

.learning {
    background-color: hsl(0, 0%, 70%);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 100%;
}

.learning h1 {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: hsl(0, 0%, 20%);
    text-align: center;
}

.learning__panel-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3.5rem;
}

.learning__panel-mobile {
    display: none;
}

.learning__panel__row__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 2rem 2rem;
    background-color: white;
    width: 25%;
}

.learning__panel__row__item img {
    width: 100%;
    height: auto;
}

.learning__panel__row__item__text {
    padding: 1.5rem;
}

.learning__panel__row__item__heading {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.learning__panel__row__item__subheading {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: .5rem 0;
}

@media all and (max-width: 1000px) {
    .learning {
        background-color: white;
    }

    .learning h1 {
        margin-bottom: 1rem;
    }

    .learning__panel-desktop {
        display: none;
    }

    .learning__panel-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }

    .learning__panel-mobile__card {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        background-color: hsl(0,0%,70%);
        margin-bottom: .5rem;
    }

    .learning__panel-mobile__card p {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        margin: 1rem 1.5rem 1rem 1rem;
    }
}